table {
	border-collapse: collapse;
	border-style: solid 1px gray;
}
td,th {
	padding: 4px;
	font-size: 11px;
	font-family: verdana;
	border: 1px solid gray;
}
th {
	background: InactiveCaption;
	color: white;
}
.error {
	background-color: red
}
.failed {
	background-color: #ff8080
}
h4 {
	font-family: verdana;
	font-size: 60%;
}
